<?xml version="1.0"?>
<ruleset>
	<file>.</file>

	<!-- Only check .php files -->
	<arg name="extensions" value="php" />

	<!-- Set required text domain -->
	<config name="text_domain" value="wp-post-reading-progress" />

	<!-- PHP 7.2 and higher. -->
	<config name="testVersion" value="7.3-" />

	<!-- Rules -->
	<rule ref="Dekode" />
</ruleset>
